In [4]:
import psycopg2
import pandas as pd

In [ ]:
#Establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='1234', host='127.0.0.1', port= '5432'
)

In [ ]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Preparing SQL queries to INSERT a record into the database.
cursor.execute("""INSERT INTO client_1.sqss_data (sqss_id, insert_date, co2x, o2xx, temp, humi, sensor_name) 
    VALUES (2,'2022-01-01 12:11:15', 466, 27, 34, 72,'esp32_dev')""")

# Commit your changes in the database
conn.commit()
print("Records inserted........")

In [ ]:
df = pd.read_sql_query('select * from client_1.sqss_data', con=conn)

In [ ]:
df

In [ ]:
# Closing the connection
conn.close()

In [3]:
from sqlalchemy import create_engine

In [6]:
#url = 'postgresql+psycopg2://username:password@host:port/database'
url = 'postgresql+psycopg2://postgres:1234@localhost:5432/postgres'
engine = create_engine(url)

In [7]:
from sqlalchemy.sql import text
sql = '''
    SELECT * FROM client_1.sqss_data;
'''
with engine.connect().execution_options(autocommit=True) as conn:
    query = conn.execute(text(sql))         
df = pd.DataFrame(query.fetchall())

In [8]:
df.head()

   sqss_id         insert_date co2x o2xx temp humi sensor_name
0        1 2022-01-01 12:11:10  466   27   34   72   esp32_dev
1        2 2022-01-01 12:11:15  466   27   34   72   esp32_dev