In [30]:
import psycopg2
import pandas as pd

In [31]:
#Establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='1234', host='127.0.0.1', port= '5432'
)

In [32]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Preparing SQL queries to INSERT a record into the database.
cursor.execute("""INSERT INTO client_1.sqss_data (sqss_id, insert_date, co2x, o2xx, temp, humi, sensor_name) 
    VALUES (2,'2022-01-01 12:11:15', 466, 27, 34, 72,'esp32_dev')""")

# Commit your changes in the database
conn.commit()
print("Records inserted........")

Records inserted........

In [33]:
df = pd.read_sql_query('select * from client_1.sqss_data', con=conn)

C:\Users\PC\anaconda3\envs\foodloss\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [34]:
df

   sqss_id         insert_date   co2x  o2xx  temp  humi sensor_name
0        1 2022-01-01 12:11:10  466.0  27.0  34.0  72.0   esp32_dev
1        2 2022-01-01 12:11:15  466.0  27.0  34.0  72.0   esp32_dev

In [35]:
# Closing the connection
conn.close()